{% extends 'base.html.twig' %}

{% block title %}Cinema{% endblock %}

{% block body %}
     
      <div id="maCarte" style="border-radius: 5px;border: 20px solid #fff;"></div>

      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
     <script>
        var carte = L.map('maCarte').setView([36.8064835, 10.1815426], 13);
            
            // On charge les "tuiles"
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                // Il est toujours bien de laisser le lien vers la source des données
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 20
            }).addTo(carte);

            {% for item in cinema %}  
                // On crée le marqueur et on lui attribue une popup
                var marqueur = L.marker([{{ item.lat }}, {{ item.lon }}]).addTo(carte); //.addTo(carte);
                marqueur.bindPopup("<h3>{{ item.nom }}</h3>");

            {% endfor %}
     </script>
  
  <section> 
  <div class="cardcontainer">
    <link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">
<h1 class="h1">Les Grands Cinémas De Tunis</h1>
<h1>Les Grands Cinémas De Tunis</h1>
<h1 id="h1">Les Grands Cinémas De Tunis</h1>
       {% for item in cinema %}
   <div class="card">
      
        
        <img src="/cinema/{{ item.image }}" alt="">
        <div class="con-text">
            <h2>{{ item.nom }}</h2>
            <p>
                {{ item.adresse }}<br>
                {{ item.email }}
                <a href="{{ path('salle_de_projection', {'id':item.id } ) }}" class="btn btn-secondary ">Salles de progection </a> 
                
     
                
            </p>
        </div>
    </div>
    {% endfor %}
  </div>  
</section>
<style>
body{
        background-color: #fff;
       
      }
     section .cardcontainer .h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-family: Rye;
  font-size: 40px;
  text-shadow: 0 -20px 40px #fa0;
  animation-name: orange;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes orange {
  10% {
    text-shadow: -10px -20px 60px #ffa;
  }
  20% {
    text-shadow: -10px -20px 65px #fa0;
  }
  30% {
    text-shadow: -10px -20px 55px #fa0;
  }
  40% {
    text-shadow: -10px -20px 70px #ff0;
  }
  50% {
    text-shadow: -10px -20px 50px #fa0;
  }
  60% {
    text-shadow: -10px -20px 60px #fa0;
  }
  70% {
    text-shadow: -10px -20px 65px #ff0;
  }
  80% {
    text-shadow: -10px -20px 55px #fa0;
  }
  90% {
    text-shadow: -10px -20px 70px #ff0;
  }
  100% {
    text-shadow: -10px -20px 50px #ff0;
  }
}
section .cardcontainer h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-family: Rye;
  font-size: 40px;
  text-shadow: 0 -10px 10px #f00;
  animation-name: red;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes red {
  10% {
    text-shadow: -10px -15px 20px #f33;
  }
  20% {
    text-shadow: -10px -15px 35px #f00;
  }
  30% {
    text-shadow: -10px -15px 25px #f00;
  }
  40% {
    text-shadow: -10px -15px 40px #f33;
  }
  50% {
    text-shadow: -10px -15px 30px #f00;
  }
  60% {
    text-shadow: -10px -15px 45px #f33;
  }
  70% {
    text-shadow: -10px -15px 40px #f00;
  }
  80% {
    text-shadow: -10px -15px 25px #f33;
  }
  90% {
    text-shadow: -10px -15px 30px #f00;
  }
  100% {
    text-shadow: -10px -15px 50px #f00;
  }
}
section .cardcontainer #h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eef;
  font-family: Rye;
  font-size: 40px;
  text-shadow: 0 -3px 5px #00f;
  animation-name: blue;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes blue {
  10% {
    text-shadow: 0px -10px 15px #55f;
  }
  20% {
    text-shadow: 0px -10px 10px #77f;
  }
  30% {
    text-shadow: 0px -10px 20px #33f;
  }
  40% {
    text-shadow: 0px -10px 10px #77f;
  }
  50% {
    text-shadow: 0px -10px 5px #c3f;
  }
  60% {
    text-shadow: 0px -10px 15px #77f;
  }
  70% {
    text-shadow: 0px -10px 20px #55f;
  }
  80% {
    text-shadow: 0px -10px 10px #a0a;
  }
  90% {
    text-shadow: 0px -10px 15px #55f;
  }
  100% {
    text-shadow: 0px -10px 5px #c3f;
  }
}

.cardcontainer
{
  max-width: 1300px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background: #000;
    border-radius: 30px;
     margin-top:10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
    backface-visibility: hidden;
}
.card:hover {
    transform: scale(0.9);
}

.card:hover .con-text p {
    margin-bottom: 0;
    opacity: 1;
    transition: all 0.5s ease;
}
.card img {
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 10;
    transition: all 0.5s ease;
}
.card .con-text {
    position: absolute;
    z-index: 30;
    bottom: 0;
    color: #fff;
    padding: 20px;
    padding-bottom: 30px;
    width:100%;
    background: linear-gradient(280deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
}
.card .con-text p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.75rem;
    opacity: 0;
    margin-bottom: -400px;
    transition: all 0.5s ease;
}
.card .con-text p a {
    padding: 7px 17px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 10px;
    margin-left: auto;
    cursor: pointer;
    transition: all 0.5s ease;
    font-family: poppins;
    font-size: 1.5rem;
    outline: none;
}
.card .con-text p button:hover {
    background: #fff;
    color: #000;
}

.img {
    position: absolute;
    width: 100%;
}
</style>

{% endblock %}


